@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500&family=Poppins:wght@300;400;500&family=Inter:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: 'Poppins';
    color: #8fa7cd;
    background-color: #f5f7fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
